In [209]:
import numpy as np
import scipy
import pandas
import matplotlib.pyplot as plt
import sklearn    
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
# confusion matrix in sklearn
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [210]:
print("here")

here

In [211]:
%%capture
data1.groupby(by="Year").count()

In [214]:
#1.b.i) Year as Independent Variable 
XYear = np.array(data1.iloc[:,3])
YWorldSeries = data1['WonWorldSeries']
model = LogisticRegression()
model.fit(XYear.reshape(-1, 1),YWorldSeries)
model.score(XYear.reshape(-1, 1),YWorldSeries)

0.8073770491803278

In [208]:
#turn Leagure into binary categoracla data 
data1.loc[data1.League == 'AL','AL'] = 0
data1.loc[data1.League == 'NL', 'NL'] = 1

In [213]:
data1 = pandas.read_csv("./baseball.csv")
data1.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,RankSeason,RankPlayoffs,NumCompetitors,WonWorldSeries
0,NYY,AL,1962,817,680,96,0.337,0.426,0.267,2,1,2,1
1,SFG,NL,1962,878,690,103,0.341,0.441,0.278,1,2,2,0
2,LAD,NL,1963,640,550,99,0.309,0.357,0.251,2,1,2,1
3,NYY,AL,1963,714,547,104,0.309,0.403,0.252,1,2,2,0
4,NYY,AL,1964,730,577,99,0.317,0.387,0.253,1,2,2,0

In [253]:
def GenerateLogisticModel(arr,dependent,typeOfFeat):
    model_score=0;
    model = LogisticRegression()
    model.fit(arr.reshape(-1, 1),dependent)
    model_score = model.score(arr.reshape(-1, 1),dependent)
    print(f'for:{typeOfFeat} \tIntercept: {model.intercept_}\tR2(score): {model_score} \tmodel coeff:{model.coef_}')
    return model_score

In [368]:
#data1.iloc[:,2]

In [369]:
#1.b.i) Year as Independent Variable 
GenerateLogisticModel(np.array(data1.iloc[:,2]),YWorldSeries,"Year" )
#1.b.i) RS as Independent Variable 
GenerateLogisticModel(np.array(data1.iloc[:,3]),YWorldSeries , "RS")
#1.b.i) RA as Independent Variable 
GenerateLogisticModel(np.array(data1.iloc[:,4]),YWorldSeries ,"RA")
#1.b.i) W as Independent Variable 
GenerateLogisticModel(np.array(data1.iloc[:,5]),YWorldSeries ,"W")
#1.b.i) OBP as Independent Variable 
GenerateLogisticModel(np.array(data1.iloc[:,6]),YWorldSeries ,"OBP")
#1.b.i) SLG as Independent Variable 
GenerateLogisticModel(np.array(data1.iloc[:,7]),YWorldSeries ,"SLG")
#1.b.i) BA as Independent Variable 
GenerateLogisticModel(np.array(data1.iloc[:,8]),YWorldSeries ,"BA")
#1.b.i) RankSeason as Independent Variable 
GenerateLogisticModel(np.array(data1.iloc[:,9]),YWorldSeries,"RankSeason" )
#1.b.i) NumCompetitors as Independent Variable 
GenerateLogisticModel(np.array(data1.iloc[:,11]),YWorldSeries, "NumCompetitors" )
#1.b.i) League as Independent Variable 
GenerateLogisticModel(np.array(data1.iloc[:,2]),YWorldSeries,"League" )

for:Year 	Intercept: [-3.54697175e-07]	R2: 0.8073770491803278 	model coeff:[[-0.00072084]]
for:RS 	Intercept: [-2.2691478e-06]	R2: 0.8073770491803278 	model coeff:[[-0.00183927]]
for:RA 	Intercept: [-3.01243729e-06]	R2: 0.8073770491803278 	model coeff:[[-0.00219971]]
for:W 	Intercept: [-6.85081553]	R2: 0.8073770491803278 	model coeff:[[0.05666388]]
for:OBP 	Intercept: [-1.40324216]	R2: 0.8073770491803278 	model coeff:[[-0.08838453]]
for:SLG 	Intercept: [-1.29039837]	R2: 0.8073770491803278 	model coeff:[[-0.34048542]]
for:BA 	Intercept: [-1.42935232]	R2: 0.8073770491803278 	model coeff:[[-0.01388077]]
for:RankSeason 	Intercept: [-0.83155361]	R2: 0.8073770491803278 	model coeff:[[-0.20477102]]
for:NumCompetitors 	Intercept: [0.03114783]	R2: 0.8073770491803278 	model coeff:[[-0.25081633]]
for:League 	Intercept: [-3.54697175e-07]	R2: 0.8073770491803278 	model coeff:[[-0.00072084]]

0.8073770491803278

In [382]:
#1.b.ii) RS,RA,NumCompetitors,RankSeason as Independent Variable 
#coloumns_1bii = ['RA','W','OBP','BA','NumCompetitors','RankSeason']
X_1bii=data1.copy().drop(columns=['Team','League'])
YWorldSeries_1biii = data1['WonWorldSeries']
model = LogisticRegression()
model.fit(X=X_1bii, y=YWorldSeries_1biii)
print("model score 1.b.ii " , model.score(X=X_1bii, y=YWorldSeries_1biii))

model score 1.b.ii  1.0

/Users/mayyaral-atari/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [383]:
#1.b.iii) RS,RA,NumCompetitors,RankSeason as Independent Variable 

X_1bii=data1[['NumCompetitors','RankSeason','SLG','W']].copy()
YWorldSeries_1biii = data1['WonWorldSeries']
model2 = LogisticRegression()
model2.fit(X=X_1bii, y=YWorldSeries_1biii)
print("model score 1.b.iii " , model2.score(X=X_1bii, y=YWorldSeries_1biii))

model score 1.b.iii  0.8073770491803278

In [384]:
X_1bii

     NumCompetitors  RankSeason    SLG    W
0                 2           2  0.426   96
1                 2           1  0.441  103
2                 2           2  0.357   99
3                 2           1  0.403  104
4                 2           1  0.387   99
..              ...         ...    ...  ...
239              10           4  0.404   94
240              10           4  0.397   94
241              10           6  0.421   88
242              10           5  0.446   93
243              10           1  0.428   98

[244 rows x 4 columns]

In [385]:
#1.b.iii) 
X_1biii=data1.drop(columns=['Team','Year','League','RankPlayoffs','WonWorldSeries'])
YWorldSeries_1biii = data1['WonWorldSeries']
model = LogisticRegression()
model.fit(X=X_1bii, y=YWorldSeries_1biii)
print("model score 1.b.ii " , model.score(X=X_1bii, y=YWorldSeries_1biii))

model score 1.b.ii  0.8073770491803278

In [386]:
coefficients = pandas.DataFrame(model.coef_.T, coloumns_1bii,columns=['Coefficient'])
print(f'Intercept: {model.intercept_}\tR2: {model.score(XYear, data1.WonWorldSeries)}')
coefficients

ValueError: Expected 2D array, got 1D array instead:
array=[ 817  878  640  714  730  715  608  774  755  606  722  695  671  583
  691  779  790  632  792  775  744  729  742  691  788  706  754  741
  608  758  659  798  689  751  796  840  758  712  857  713  730  770
  822  769  831  847  743  727  735  708  757  866  731  775  637  809
  820  728  739  814  891  685  799  800  654  696  762  829  673  686
  687  682  747  759  794  786  654  783  896  786  783  798  813  628
  703  800  702  712  699  731  699  693  733  733  749  776  768  684
  682  745  693  780  767  776  877  847  773  949  952  703  871  771
  759  928  791  812  868  740  777  891  925  784  826  876  831  850
  874  965  749  940  908  840  836 1009  823  853  900  945  810  978
  807  871  947  907  925  887  818  729  897  847  804  884  927  814
  851  819  708  768  897  800  783  787  907  961  724  751  801  877
  768  755  836  803  949  803  761  780  897  855  769  910  741  693
  761  886  684  805  822  820  801  834  930  771  731  781  712  867
  752  811  860  822  968  892  845  855  811  765  700  750  799  774
  872  804  883  780  817  915  820  730  738  790  781  859  772  697
  802  787  731  787  721  867  713  762  707  855  700  712  669  726
  804  713  718  765  808  731].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [312]:
#Q2.a)
data2 = pandas.read_csv("./parole.csv")
data2.head(4)

,Male,RaceWhite,Age,State,TimeServed,MaxSentence,MultipleOffenses,Crime,Violator
0,1,1,33.2,Other,5.5,18,0,Driving,0
1,0,1,39.7,Other,5.4,12,0,Drugs,0
2,1,0,29.5,Other,5.6,12,0,Drugs,0
3,1,1,22.4,Other,5.7,18,0,Other,0

In [313]:
data2.count()
type(data2)

pandas.core.frame.DataFrame

In [321]:
# taking care of the categorical columns
X_state= pandas.get_dummies(data2.loc[:,"State"])
X_crime = pandas.get_dummies(data2.loc[:,"Crime"])

In [322]:
data2_nostatecrime = data2.drop(columns=['State','Crime'])

  
data2_categorical_state = pandas.merge(data2_nostatecrime,X_state,left_index=True, right_index=True)
data2_categorical = pandas.merge(data2_categorical_state,X_crime,left_index=True, right_index=True)
data2_categorical.head(5)

,Male,RaceWhite,Age,TimeServed,MaxSentence,MultipleOffenses,Violator,Kentucky,Louisiana,Other_x,Virginia,Driving,Drugs,Larceny,Other_y
0,1,1,33.2,5.5,18,0,0,0,0,1,0,1,0,0,0
1,0,1,39.7,5.4,12,0,0,0,0,1,0,0,1,0,0
2,1,0,29.5,5.6,12,0,0,0,0,1,0,0,1,0,0
3,1,1,22.4,5.7,18,0,0,0,0,1,0,0,0,0,1
4,1,0,21.6,5.4,12,0,0,0,0,1,0,0,0,0,1

In [324]:
#2.a)
print(data2_categorical.loc[data2_categorical['Violator']==1].count()/data2_categorical.count())

Male                0.115556
RaceWhite           0.115556
Age                 0.115556
TimeServed          0.115556
MaxSentence         0.115556
MultipleOffenses    0.115556
Violator            0.115556
Kentucky            0.115556
Louisiana           0.115556
Other_x             0.115556
Virginia            0.115556
Driving             0.115556
Drugs               0.115556
Larceny             0.115556
Other_y             0.115556
dtype: float64

In [335]:
#2.b.i)
X_independent=data2_categorical.drop(columns=['Violator'])
#print(X.head())
Y = data2_categorical['Violator']
X_train, X_test, y_train, y_test = train_test_split(X_independent,Y,test_size=0.3 )
model = LogisticRegression()
model.fit(X=X_train, y=y_train)
#solver='lbfgs'

/Users/mayyaral-atari/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [336]:
#2.b.i)
coefficients = pandas.DataFrame(model.coef_.T, X_test.columns, columns=['Coefficient'])
print(f'Intercept: {model.intercept_}\tR2: {model.score(X_test,y_test)}')
coefficients

Intercept: [-3.10563944]	R2: 0.8817733990147784

                  Coefficient
Male                 0.255793
RaceWhite           -0.089155
Age                  0.009721
TimeServed          -0.064713
MaxSentence          0.060001
MultipleOffenses     1.664268
Kentucky             0.133865
Louisiana            1.389127
Other_x              0.024327
Virginia            -2.557162
Driving             -0.316265
Drugs               -0.375194
Larceny             -0.106207
Other_y             -0.212177

In [339]:
#2.b.ii)
MALE_WHITE_50_MARYLAND = -3.10563944+0.255793 +(0.009721)*50  + -0.089155+0.024327 + (-0.064713)*3+0.060001*(12)  + -0.106207
prob = 1/(1+numpy.power(numpy.e,-MALE_WHITE_50_MARYLAND))
print("prob is ",prob)

prob is  0.11826554726715055

In [388]:
#2.b.iii)

from sklearn.metrics import confusion_matrix
#confusion_matrix()
print("model score on testing set ",model.score(X_test,y_test))
s  = model.predict(X_test,y_test)

ValueError: X has 14 features per sample; expecting 4