In [35]:
import numpy as np
import scipy
import pandas
import matplotlib.pyplot as plt
import sklearn    
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
# confusion matrix in sklearn
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [36]:
print("here")

here

In [37]:
data1 = pandas.read_csv("./baseball.csv")
data1.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,RankSeason,RankPlayoffs,NumCompetitors,WonWorldSeries
0,NYY,AL,1962,817,680,96,0.337,0.426,0.267,2,1,2,1
1,SFG,NL,1962,878,690,103,0.341,0.441,0.278,1,2,2,0
2,LAD,NL,1963,640,550,99,0.309,0.357,0.251,2,1,2,1
3,NYY,AL,1963,714,547,104,0.309,0.403,0.252,1,2,2,0
4,NYY,AL,1964,730,577,99,0.317,0.387,0.253,1,2,2,0

In [102]:
%%capture
data1.groupby(by="Year").count()

In [135]:
#1.b.i)
XYear = np.array(data1.iloc[:,3])
#XYear = XYear.to_frame()
#XYear = data1['Year']
#Y = data1.iloc[:,12]
YWorldSeries = data1['WonWorldSeries']
model = LogisticRegression()
model.fit(XYear.reshape(-1, 1),YWorldSeries)
#model.fit(XYear,YWorldSeries)
#Y
model.score

LogisticRegression()

In [136]:
#XYear

In [137]:
type(XYear)

numpy.ndarray

In [144]:
coefficients = pandas.DataFrame(model.coef_.T, "Year")
print(f'Intercept: {model.intercept_}\tR2: {model.score(XYear, data1.WonWorldSeries)}')
coefficients

TypeError: Index(...) must be called with a collection of some kind, 'Year' was passed

In [112]:
Y.head()

0    1
1    0
2    1
3    0
4    0
Name: WonWorldSeries, dtype: int64

In [67]:
#Q2.a)
data2 = pandas.read_csv("./parole.csv")
data2.head(20)

,Male,RaceWhite,Age,State,TimeServed,MaxSentence,MultipleOffenses,Crime,Violator
0,1,1,33.2,Other,5.5,18,0,Driving,0
1,0,1,39.7,Other,5.4,12,0,Drugs,0
2,1,0,29.5,Other,5.6,12,0,Drugs,0
3,1,1,22.4,Other,5.7,18,0,Other,0
4,1,0,21.6,Other,5.4,12,0,Other,0
5,1,0,46.7,Other,6.0,18,0,Driving,0
6,1,1,31.0,Other,6.0,18,0,Drugs,0
7,0,1,24.6,Other,4.8,12,0,Other,0
8,0,1,32.6,Other,4.5,13,0,Drugs,0
9,1,0,29.1,Other,4.7,12,0,Larceny,0
10,0,0,28.4,Other,4.5,12,1,Other,0
11,1,1,20.5,Other,5.9,12,0,Other,0
12,1,1,30.1,Other,5.3,16,0,Drugs,0
13,1,1,37.8,Other,5.3,8,0,Drugs,0
14,1,1,41.7,Other,5.5,8,0,Drugs,0
15,1,0,43.5,Other,5.2,8,0,Other,0
16,1,1,42.3,Other,4.8,16,0,Drugs,0
17,1,1,21.3,Other,5.1,8,0,Other,0
18,1,0,24.5,Other,6.0,16,0,Drugs,0
19,1,1,42.3,Other,5.8,16,0,Other,0

In [71]:
data2.count()
type(data2)

pandas.core.frame.DataFrame

In [94]:
# taking care of the categorical columns
data2.loc[data2.State == 'Kentucky'] = 0
data2.loc[data2.State == 'Louisiana'] = 1
data2.loc[data2.State == 'Virginia'] = 2
data2.loc[data2.State == 'Other'] = 3

data2.loc[data2.Crime == 'Larceny'] = 0
data2.loc[data2.Crime == 'Drugs'] = 1
data2.loc[data2.Crime == 'Driving'] = 2
data2.loc[data2.Crime == 'Other'] = 3

In [104]:
#data2.head(20)

In [96]:
#2.a)
print(data2.loc[data2['Violator']==1].count()/data2.count())

Male                0.115556
RaceWhite           0.115556
Age                 0.115556
State               0.115556
TimeServed          0.115556
MaxSentence         0.115556
MultipleOffenses    0.115556
Crime               0.115556
Violator            0.115556
dtype: float64

In [115]:
#2.b.i)
X=data2.iloc[:,:8]
#print(X.head())
Y = data2['Violator']
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.3 )
model = LogisticRegression()
model.fit(X=X_train, y=y_train)

LogisticRegression()

In [100]:
#2.b.i)
coefficients = pandas.DataFrame(model.coef_.T, X.columns, columns=['Coefficient'])
print(f'Intercept: {model.intercept_}\tR2: {model.score(X, data2.Violator)}')
coefficients

Intercept: [0.38365879]	R2: 0.8844444444444445

                  Coefficient
Male                 0.453825
RaceWhite           -0.342706
Age                 -0.001262
State               -0.542285
TimeServed          -0.137334
MaxSentence         -0.116796
MultipleOffenses     0.542916
Crime                0.000000

In [101]:
#2.b.iii)
model.score(X_test,y_test)

0.8817733990147784